target/

node_modules
.env
.DS_Store
coverage
artifacts
cache
*.log
*.json
*.tsbuildinfo
lib
package-lock.json
yarn.lock
.vscode
.idea
*.iml
dist
.nyc_output
.solcover.js
.prettier-cache

# Hardhat files